<!DOCTYPE html>
<html>
<head>
	<title>Recommendations</title>

<script>
	
	//mood = localStorage.mood;

</script>

</head>
<body>


<!-- 
Happy -->
<h1>Happy</h1>
<iframe id="happy" src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX7qK8ma5wgG1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<!-- 
Sad -->
<h1>Sad</h1>
<iframe id="sad" src="https://open.spotify.com/embed?uri=spotify:user:sanik007:playlist:7ABD15iASBIpPP5uJ5awvq" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<!-- 
Surprise -->
<h1>Surprise</h1>
<iframe id="surprise" src="https://open.spotify.com/embed?uri=spotify:user:feelinglistless:playlist:02AWNMwa7dmUkiWjLcYFLs" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


<!-- 
Angry -->
<h1>Angry</h1>
<iframe id="angry" src="https://open.spotify.com/embed?uri=spotify:user:popsugarsmart:playlist:0KPEhXA3O9jHFtpd1Ix5OB" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>



</body>
</html>